.custom-bg {
    background-color: #dc3545 !important; 
    color: white !important;
}

.custom-btn {
    background-color: white !important;
    color: #dc3545 !important;
}

.custom-btn:hover {
    background-color: #f8d7da !important;
}

@media (prefers-color-scheme: dark) {
    .custom-bg {
        background-color: #b22222 !important; 
    }

    .custom-btn {
        background-color: white !important;
        color: #dc3545 !important;
    }

    .custom-btn:hover {
        background-color: #f8d7da !important;
    }
}